/* Estilo general del body */
body {
    margin: 0;
    padding: 20px;
    background-color: #0a0a0a; /* Fondo azul oscuro */
    color: #E0E0E0; /* Texto claro */
    font-family: 'Roboto', sans-serif; /* Tipografía general */
}

/* Estilo para el encabezado */
h4 {
    font-family: 'Roboto', sans-serif;
    color: #F5F5DC; /* Color hueso para el encabezado */
}

/* Estilo para la sección de título */
.title-history-section {
    background-color: #0a0a0a; /* Fondo azul más claro */
    height: 120px;
    color: #F5F5DC; /* Texto color hueso */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; /* Espaciado inferior */

}

/* Estilo para la sección de gráficos */
.graphic-history-section {
    background-color: #0a0a0a; /* Fondo azul oscuro */
    padding-top: 20px;
    margin-bottom: 20px; /* Espaciado inferior */
    color: #E0E0E0; /* Texto claro */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

/* Estilo para las secciones de ranking */
.ranking-section {
    background-color: #171717; /* Fondo azul más claro */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
    font-family: 'Roboto', sans-serif; /* Tipografía */
    min-height: 150px; /* Altura mínima */
    text-align: center; /* Centra el texto dentro de la sección */
}

/* Estilo específico para las secciones de ranking */
.bodega-section, .clasificacion-section, .proveedor-section {
    background-color: #171717; /* Fondo azul oscuro */
    height: 320px;
    padding: 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

.proveedor-section {
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilo para el contenedor del filtro */
.filter-container {
    background-color: #171717; /* Fondo azul más claro */
    color: #E0E0E0;
    padding: 20px;
    margin-top: 20px; /* Espaciado superior */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Estilo para el formulario del filtro */
#filterForm .form-label {
    color: #F5F5DC !important; /* Color hueso para las etiquetas */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem; /* Espaciado inferior */
}

/* Estilo para los selects */
.form-select {
    background-color: #171717; /* Fondo azul oscuro */
    color: #E0E0E0; /* Texto claro */
    border: 1px solid #4A4A4A; /* Borde oscuro */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    margin-bottom: 1rem; /* Espaciado inferior */
}

/* Estilo para los inputs de fecha y botones */
input[type="date"], button {
    background-color: #171717; /* Fondo azul oscuro */
    color: #E0E0E0; /* Texto claro */
    border: 1px solid #4A4A4A; /* Borde oscuro */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
}

/* Estilo para el botón de filtro */
button#filterButton {
    background-color: #263A50; /* Color azul claro */
    border: none; /* Sin borde */
    color: #F5F5DC; /* Texto color hueso */
    cursor: pointer; /* Cambia el cursor a pointer */
    padding: 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilo para el botón de exportar */
button#exportButton {
    border: none; /* Sin borde */
    color: #F5F5DC; /* Texto color hueso */
    cursor: pointer; /* Cambia el cursor a pointer */
    padding: 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilo para las listas */
.list-group {
    background-color: #171717; /* Fondo azul oscuro */
    border: none; /* Elimina el borde de la lista */
}

/* Estilo para los elementos de la lista */
.list-group-item {
    background-color: #171717; /* Fondo azul oscuro */
    padding: 10px; /* Espaciado interno */
    color: #E0E0E0; /* Color de texto claro */
}

/* Estilo para el contenedor del log */
#logContainer {
    max-height: 400px; /* Ajusta según tus necesidades */
    height: 320px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    margin: 10px;
    padding: 20px; /* Espacio interno */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #171717; /* Fondo azul más claro */
    color: #E0E0E0; /* Texto claro */
}

/* Otros estilos adicionales */
.custom-hr {
    border: 0;
    height: 1px;
    background: #4A4A4A; /* Color gris oscuro para la línea horizontal */
    margin: 1.5rem 0;
}

.loading {
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #4A90E2; /* Color azul claro para el texto de carga */
}

.ranking-container {
    margin-top: 5px;
    text-align: center; /* Centra el texto dentro del contenedor de ranking */
}

.ranking-title {
    font-size: 20px;
    font-weight: bold;
    color: #F5F5DC; /* Texto color hueso para el título del ranking */
    margin-bottom: 10px;
    text-align: center; /* Centra el texto del título del ranking */
}

.ranking-item {
    font-size: 16px;
    color: #B0B0B0; /* Color gris claro para los elementos de ranking */
    margin-bottom: 5px;
}

.ranking-item span {
    font-weight: bold;
}

.wrapper {
    background-color: #171717; /* Fondo azul oscuro */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px; /* Reduce el margen inferior */
}

.wrapper-body {
    display: flex;
    gap: 10px; /* Espaciado entre los elementos dentro del wrapper */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: center;
}

.wrapper-body h4 {
    font-size: 18px; /* Tamaño del texto en el wrapper */
    margin: 0; /* Elimina el margen superior e inferior */
}

#myAreaChart {
    background-color: #0a0a0a !important; /* Fondo azul oscuro para el gráfico */
}

