/* Estilo general del body */
body {
    margin: 0;
    padding: 20px;
    background-color: #1F1F1F; /* Fondo oscuro */
    color: #E0E0E0; /* Texto claro para contraste */
    font-family: 'Roboto', sans-serif; /* Tipografía general */
}

/* Estilo para el encabezado */
h4 {
    font-family: 'Roboto', sans-serif;
    color: #E0E0E0; /* Color de texto claro para el encabezado */
}

/* Estilo para la sección de título */
.title-history-section {
    background-color: #2C2C2C; /* Fondo oscuro para la sección de título */
    height: 120px;
    color: #E0E0E0; /* Color de texto claro */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; /* Espaciado inferior para separar de otras secciones */
}

/* Estilo para la sección de gráficos */
.graphic-history-section {
    background-color: #2C2C2C; /* Fondo oscuro para la sección de gráficos */
    padding-top: 20px;
    margin-bottom: 20px; /* Espaciado inferior para separar de otras secciones */
    color: #E0E0E0; /* Color de texto claro */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

/* Estilo para las secciones de ranking */
.ranking-section {
    background-color: #2C2C2C; /* Fondo oscuro de la sección */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    font-family: 'Roboto', sans-serif; /* Tipografía */
    min-height: 150px; /* Altura mínima para las secciones */
    overflow-y: auto; /* Permite el desplazamiento vertical si hay mucho contenido */
    text-align: center; /* Centra el texto dentro de la sección */
}

/* Estilo específico para cada una de las secciones de ranking */
.bodega-section, .clasificacion-section, .proveedor-section {
    background-color: #2C2C2C; /* Fondo oscuro para las secciones de ranking */
    height: 320px;
    padding: 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

/* Centrando los títulos de las secciones de ranking */
.bodega-section h4, .clasificacion-section h4, .proveedor-section h4 {
    text-align: center;
}

.proveedor-section {
    margin-right: 10px;
    margin-left: 10px;
}

/* Estilo para el contenedor del filtro */
.filter-container {
    background-color: #3C3C3C; /* Fondo gris oscuro */
    padding: 20px;
    margin-top: 20px; /* Espaciado superior para separar del contenido anterior */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    width: 100%; /* Asegúrate de que el recuadro de filtro ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

/* Estilo para el formulario del filtro */
#filterForm .form-label {
    color: #E0E0E0; /* Color del texto de las etiquetas */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem; /* Espaciado inferior para separar las etiquetas del contenido */
}

/* Estilo para los selects */
.form-select {
    background-color: #2C2C2C; /* Fondo oscuro */
    color: #E0E0E0; /* Texto claro */
    border: 1px solid #4A4A4A; /* Borde oscuro */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
    width: 100%; /* Asegúrate de que el select ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    margin-bottom: 1rem; /* Espaciado inferior */
}

/* Estilo para los inputs de fecha y botones */
input[type="date"], button {
    background-color: #2C2C2C; /* Fondo oscuro */
    color: #E0E0E0; /* Texto claro */
    border: 1px solid #4A4A4A; /* Borde oscuro */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
    width: 100%; /* Asegúrate de que los inputs ocupen todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

/* Estilo para el botón de filtro */
button#filterButton {
    background-color: #5C5C5C; /* Color gris oscuro */
    border: none; /* Sin borde */
    color: #E0E0E0; /* Texto claro */
    cursor: pointer; /* Cambia el cursor a pointer */
}

/* Estilo para el botón de exportar */
button#exportButton {
    background-color: #4CAF50; /* Color verde para el botón de exportar */
    border: none; /* Sin borde */
    color: #E0E0E0; /* Texto claro */
    cursor: pointer; /* Cambia el cursor a pointer */
}

/* Ocultar el contenedor del filtro adicional por defecto */
#additionalFilterContainer {
    display: none;
}

/* Ajusta el color de fondo de las listas */
.list-group {
    background-color: #2C2C2C; /* Fondo oscuro para la lista */
    border: none; /* Elimina el borde de la lista */
}

/* Ajusta el color del fondo de los elementos de la lista */
.list-group-item {
    background-color: #2C2C2C; /* Fondo oscuro para los elementos de la lista */
    padding: 10px; /* Ajusta el padding según sea necesario */
    color: #E0E0E0; /* Color de texto claro para los elementos */
}

/* Ajusta el color de las etiquetas (badges) */
.badge {
    background-color: #5C5C5C; /* Color gris para el badge */
    color: #E0E0E0; /* Texto claro para el badge */
}

/* Estilo para el contenedor del log */
#logContainer {
    max-height: 400px; /* Ajusta según tus necesidades */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el máximo de altura */
    margin: 10px;
    height: 350px;
    padding: 20px; /* Espacio interno para evitar que el contenido toque los bordes */
    border-radius: 4px; /* Bordes redondeados para el contenedor */
    background-color: #2C2C2C; /* Fondo oscuro para el contenedor del log */
    color: #E0E0E0; /* Texto claro para el contenedor del log */
}

/* Otros estilos adicionales */
.custom-hr {
    border: 0;
    height: 1px;
    background: #4A4A4A; /* Color gris oscuro para la línea horizontal */
    margin: 1.5rem 0;
}

.loading {
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #666666; /* Color gris para el texto de carga */
}

.ranking-container {
    margin-top: 5px;
    text-align: center; /* Centra el texto dentro del contenedor de ranking */
}

.ranking-title {
    font-size: 20px;
    font-weight: bold;
    color: #E0E0E0; /* Texto claro para el título del ranking */
    margin-bottom: 10px;
    text-align: center; /* Centra el texto del título del ranking */
}

.ranking-item {
    font-size: 16px;
    color: #B0B0B0; /* Color gris claro para los elementos de ranking */
    margin-bottom: 5px;
}

.ranking-item span {
    font-weight: bold;
}

.wrapper {
    background-color: #2C2C2C; /* Fondo oscuro */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px; /* Reduce el margen inferior */
}

.wrapper-body {
    display: flex;
    gap: 10px; /* Espaciado entre los elementos dentro del wrapper */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: center;
}

.wrapper-body h4 {
    font-size: 18px; /* Tamaño del texto en el wrapper */
    margin: 0; /* Elimina el margen superior e inferior */
}

canvas#myAreaChart {
    height: 400px;

}
